.main {
  background-color: #5483e8;
}

.main__span {
  color: white;
  font-weight: 600;
  font-size: 70px;
}

.main__span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 680px;
}
