.nav-bar__component {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px 30px;
  padding-bottom: 10px;
  opacity: 0.5;
}

.nav-bar__component {
  background-color: #ffffff;
  margin-top: solid 1px rgb(233, 233, 233);
}

.nav-bar__component__icon:nth-child(3) {
  padding-left: 7px;
}

.nav-bar__component__icon:last-child {
  padding-right: 18px;
}

.nav-bar__component__span {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.nav-bar__component__span {
  font-size: 13px;
  opacity: 0.5;
}

.nav-bar__component__span:last-child {
  margin-right: 5px;
}

.nav__link i {
  color: black;
}
